{% extends 'base.html' %}

{% block content %}
  <!-- Label for stock currently showing results for -->
  <p class="ticker-label">Showing results for: {{ company_name }} ({{ symbol }})</p>
  <!-- Two square cards for emphasis of main results -->
  <div class="container-fluid row text-center">
    <div class="col-lg-6 d-flex justify-content-center">
      <div class="card result-display">
        <div class="card-body result-text">
          This stock will<span class="highlight"> {{ prediction }} </span>in the short term
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center">
      <div class="card result-display">
        <div class="card-body result-text">
          Confidence level:<span class="highlight"> {{ confidence_level }}% </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Section for analysis of social media posts -->
  <div class="container-fluid row">
    <div class="col-lg-4 media-posts">
      <h2 class="highlight">Top bullish tweets</h2>
      <ul>
        {% for tweet in bullish_tweets %}
          <li>
            {{ tweet.get('text') }} <a href={{ tweet.get("link") }} target="_blank">[Full Post]</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-4 media-posts">
      <h2 class="highlight">Top bearish tweets</h2>
      <ul>
        {% for tweet in bearish_tweets %}
          <li>
            {{ tweet.get('text') }} <a href={{ tweet.get("link") }} target="_blank">[Full Post]</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-4 media-posts">
      <h2 class="highlight">Top news</h2>
      <ul>
        {% for article in news %}
          <li>
            {{ article.get('title') }} <a href={{ article.get("link") }} target="_blank">[Full Post]</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Section for showing of price movements of given stock -->
  <br>
  <div class="flex-container">
	  <div>
	    <button onclick="document.getElementById('graph').src='static/images/msft_year.png'" class="col-lg-1 flex-item">Year</button>
	  </div>
	  <div class="flex-item"> | </div>
	  <div>
	    <button onclick="document.getElementById('graph').src='static/images/msft_month.png'" class="col-lg-1 flex-item">Month</button>
	  </div>
	  <div class="flex-item"> | </div>
	  <div>
	    <button onclick="document.getElementById('graph').src='static/images/msft_week.png'" class="col-lg-1 flex-item show">Week</button>
	  </div>
  </div>
  
  <br>
  <div class="flex-container">
    <img id="graph" src="static/images/msft_week.png" class="img-fluid" alt="Graph of MSFT stock">
  </div>
  <br>
{% endblock %}
