{% extends 'base.html' %}

{% block content %}
<div id="shooting-star-container">
  <div class="night">
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div id="last-star" class="shooting-star"></div>
  </div>
</div>
<!-- Main homepage content -->
<div class="container-fluid" id="homepage-content">
  <div class="row align-items-center">
    <!-- Team name and hook -->
    <div class="col-lg-4">
      <h2 class="highlight" id="homepage-title">To The Moon</h2>
      <p id="homepage-hook">Using<span class="highlight"> artificial intelligence </span>
        to listen in on, and analyse conversations all over the internet</p>
    </div>
    <!-- Search bar to input stock ticker to analyse results for -->
    <div class="col-lg-8 justify-content-center">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <form id="search-form" method="POST">
            <div class="form-group search">
              <div class="input-group">
                <input autocomplete="off" type="text" name="ticker" class="form-control" placeholder="Stock ticker" aria-label="Stock ticker">
                <button id="analyse-button" class="btn btn-outline-secondary" type="submit">Analyse</button>
                <button id="loading-button" class="btn btn-outline-secondary hide" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-dismissable" role="alert">
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
