{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid homepage-main">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <h2 class="highlight homepage-title">To The Moon</h2>
        <p class="homepage-hook">Using<span class="highlight"> artificial intelligence </span> 
        to listen in on, and analyse conversations all over the internet</p>
      </div>
      <div class="col-lg-8 justify-content-center">
        <div class="row"><div class="col-12 d-flex justify-content-center">
          <form method="POST">
            <div class="form-group search">
              <div class="input-group">
                <input type="text" name="ticker" class="form-control" placeholder="Stock ticker" aria-label="Stock ticker">
                <button class="btn btn-outline-secondary" type="submit">Analyse</button>
              </div>
            </div>
          </form>
	</div>
      </div>
      <div class="row">
	<div class="col-12 d-flex justify-content-center">
	  {% with messages = get_flashed_messages() %}
	    {% if messages %}
              {% for message in messages %}
	        <div class="alert alert-dismissable" role="alert">
		  {{message}}
		</div>
	      {% endfor %}
	    {% endif %}
          {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
