/*
GENERAL
 */

/* Main theme for webpage */
.dark {
    background-color: #0a1931;
    color: #feddbe;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.highlight {
    color: #ffc947;
}

.header-link {
    color: #feddbe;
    font-size: 1.1rem;
    font-weight: 100;
}

.hide {
    display: none;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-text {
    font-size: 1.6rem;
}

/*
HOMEPAGE
 */

/* Custom padding for main content in homepage  */
#homepage-content {
    padding: 10% 2.5%;
}

#homepage-title {
    font-size: 3rem;
    padding-bottom: 2.5%;
}

#homepage-hook {
    font-size: 2rem;
}

/* Search bar */
.search {
    align-items: center;
}

.search button {
    color: white;
}

.search button:hover {
    background: #0e2446;
}

.alert {
	color: white;
	font-size: 0.8rem;
	font-weight: 400;
}

/*
ANALYSIS PAGE
 */
 
 /* Labelling for stock ticker */
.ticker-label {
    color: #feddbe;
    font-size: 2.1rem;
    font-weight: 100;
    padding: 2% 2.5%;
}

.result-display {
    background-color: #185adb;
    width: 20rem;
    height: 15rem;
}

.result-text {
    font-size: 2.5rem;
    font-weight: 500;
}

.media-posts {
    padding: 3% 2%;
    font-size: 1.4rem;
}

#add-favourites {
    display: inline;
}

#add-favourites button {
    color: #f9d71c;
    border: none;
    background: none;
    padding: 0;
}

/*
ABOUT PAGE
*/

/* Theme overrides*/
.quote {
	color: #6c757d;
}

/* Buttons for graph selection */
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-container button {
    background-color: #0a1931;
    color: #feddbe;
	border-style: none;
}

.flex-container button:hover {
	text-decoration: underline;
	text-decoration-thickness: 0.15rem;
}

/* .show {
	text-decoration: underline;
	text-decoration-thickness: 0.15rem;
} */

/* 
AI Page 
*/
#text-classifier-demo {
    width: 70%;
}